.contact-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.contact-thq-hero-elm {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text10 {
  display: inline-block;
}
 
.contact-text11 {
  display: inline-block;
}
 
.contact-text12 {
  display: inline-block;
}
 
.contact-text13 {
  display: inline-block;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-text15 {
  display: inline-block;
}
 
.contact-text16 {
  display: inline-block;
}
 
.contact-text17 {
  display: inline-block;
}
 
.contact-text18 {
  display: inline-block;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-text20 {
  display: inline-block;
}
 
.contact-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.contact-thq-hero-content-elm {
  gap: var(--dl-layout-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.contact-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-thq-header-container-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-thq-header-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-thq-heading-elm {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
 
.contact-thq-caption-elm {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.contact-navlink {
  text-decoration: none;
}
 
.contact-container3 {
  width: 100%;
}
 
.contact-container4 {
  display: contents;
}
 
.contact-thq-body-elm {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-text24 {
  display: inline-block;
}
 
.contact-text25 {
  display: inline-block;
}
 
.contact-text26 {
  display: inline-block;
}
 
.contact-text27 {
  display: inline-block;
}
 
.contact-text28 {
  display: inline-block;
}
 
.contact-text29 {
  display: inline-block;
}
 
.contact-text30 {
  display: inline-block;
}
 
.contact-text31 {
  display: inline-block;
}
 
.contact-text32 {
  display: inline-block;
}
 
.contact-text33 {
  display: inline-block;
}
 
.contact-text34 {
  display: inline-block;
}
 
.contact-text35 {
  display: inline-block;
}
 
.contact-text36 {
  display: inline-block;
}
 
.contact-text37 {
  display: inline-block;
}
 
.contact-text38 {
  display: inline-block;
}
 
.contact-text39 {
  display: inline-block;
}
 
.contact-text40 {
  display: inline-block;
}
 
.contact-text41 {
  display: inline-block;
}
 
.contact-text42 {
  display: inline-block;
}
 
.contact-text43 {
  display: inline-block;
}
 
.contact-text44 {
  display: inline-block;
}
 
.contact-text45 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-thq-hero-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .contact-thq-hero-content-elm {
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .contact-thq-heading-elm {
    font-size: 60px;
  }
}
 
@media(max-width: 479px) {
  .contact-thq-hero-content-elm {
    gap: var(--dl-layout-space-threeunits);
    flex-direction: column;
  }
  .contact-thq-heading-elm {
    font-size: 36px;
  }
  .contact-thq-caption-elm {
    font-size: 16px;
    line-height: 24px;
  }
  .contact-navlink {
    text-align: center;
  }
}
