.donate-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.donate-thq-hero-elm {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.donate-text10 {
  display: inline-block;
}
 
.donate-text11 {
  display: inline-block;
}
 
.donate-text12 {
  display: inline-block;
}
 
.donate-text13 {
  display: inline-block;
}
 
.donate-text14 {
  display: inline-block;
}
 
.donate-text15 {
  display: inline-block;
}
 
.donate-text16 {
  display: inline-block;
}
 
.donate-text17 {
  display: inline-block;
}
 
.donate-text18 {
  display: inline-block;
}
 
.donate-text19 {
  display: inline-block;
}
 
.donate-text20 {
  display: inline-block;
}
 
.donate-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.donate-thq-hero-content-elm {
  gap: var(--dl-layout-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.donate-thq-header-container-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.donate-thq-header-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.donate-thq-heading-elm {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
 
.donate-thq-caption-elm {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
 
.donate-link1 {
  width: 100%;
  padding-top: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.donate-text21 {
  font-size: 2em;
}
 
.donate-thq-body-elm {
  flex: 0 0 auto;
  width: var(--dl-layout-size-xxlarge);
  display: none;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.donate-text22 {
  color: rgb(255, 255, 255);
  width: 100%;
  display: none;
  font-size: 50px;
  max-width: var(--dl-layout-size-maxwidth);
}
 
.donate-text23 {
  font-weight: 700;
}
 
.donate-text25 {
  font-style: normal;
  font-weight: 300;
}
 
.donate-text29 {
  font-style: normal;
  font-weight: 700;
}
 
.donate-text30 {
  font-weight: 700;
}
 
.donate-text31 {
  font-weight: 700;
}
 
.donate-text33 {
  font-style: normal;
  font-weight: 300;
}
 
.donate-link2 {
  width: 100%;
  text-decoration: none;
}
 
.donate-text35 {
  display: inline-block;
}
 
.donate-text36 {
  display: inline-block;
}
 
.donate-text37 {
  display: inline-block;
}
 
.donate-text38 {
  display: inline-block;
}
 
.donate-text39 {
  display: inline-block;
}
 
.donate-text40 {
  display: inline-block;
}
 
.donate-text41 {
  display: inline-block;
}
 
.donate-text42 {
  display: inline-block;
}
 
.donate-text43 {
  display: inline-block;
}
 
.donate-text44 {
  display: inline-block;
}
 
.donate-text45 {
  display: inline-block;
}
 
.donate-text46 {
  display: inline-block;
}
 
.donate-text47 {
  display: inline-block;
}
 
.donate-text48 {
  display: inline-block;
}
 
.donate-text49 {
  display: inline-block;
}
 
.donate-text50 {
  display: inline-block;
}
 
.donate-text51 {
  display: inline-block;
}
 
.donate-text52 {
  display: inline-block;
}
 
.donate-text53 {
  display: inline-block;
}
 
.donate-text54 {
  display: inline-block;
}
 
.donate-text55 {
  display: inline-block;
}
 
.donate-text56 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .donate-thq-body-elm {
    padding-top: var(--dl-layout-space-fiveunits);
    padding-left: var(--dl-layout-space-fiveunits);
    padding-right: var(--dl-layout-space-fiveunits);
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .donate-text22 {
    font-size: 50px;
  }
}
 
@media(max-width: 1200px) {
  .donate-thq-body-elm {
    padding: var(--dl-layout-space-fourunits);
  }
  .donate-text22 {
    font-size: 40px;
  }
}
 
@media(max-width: 991px) {
  .donate-thq-hero-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .donate-thq-hero-content-elm {
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .donate-thq-body-elm {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .donate-thq-heading-elm {
    font-size: 60px;
  }
  .donate-thq-body-elm {
    padding: var(--dl-layout-space-threeunits);
  }
  .donate-text22 {
    font-size: 25px;
  }
}
 
@media(max-width: 479px) {
  .donate-thq-hero-content-elm {
    gap: var(--dl-layout-space-threeunits);
  }
  .donate-thq-heading-elm {
    font-size: 36px;
  }
  .donate-thq-caption-elm {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-link1 {
    text-align: center;
  }
  .donate-thq-body-elm {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .donate-link2 {
    display: none;
  }
}
