.events-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.events-thq-hero-elm {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.events-text10 {
  display: inline-block;
}
 
.events-text11 {
  display: inline-block;
}
 
.events-text12 {
  display: inline-block;
}
 
.events-text13 {
  display: inline-block;
}
 
.events-text14 {
  display: inline-block;
}
 
.events-text15 {
  display: inline-block;
}
 
.events-text16 {
  display: inline-block;
}
 
.events-text17 {
  display: inline-block;
}
 
.events-text18 {
  display: inline-block;
}
 
.events-text19 {
  display: inline-block;
}
 
.events-text20 {
  display: inline-block;
}
 
.events-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.events-thq-hero-content-elm {
  gap: var(--dl-layout-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.events-thq-header-container-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.events-thq-header-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.events-thq-heading-elm {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
 
.events-thq-caption-elm {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
 
.events-navlink {
  text-decoration: none;
}
 
.events-thq-body-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.events-text26 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 50px;
  max-width: var(--dl-layout-size-maxwidth);
}
 
.events-text27 {
  font-weight: 700;
}
 
.events-text29 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text33 {
  font-weight: 700;
}
 
.events-text35 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text36 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text37 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text38 {
  font-style: normal;
  font-weight: 700;
}
 
.events-text39 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text40 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text41 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text42 {
  font-style: normal;
  font-weight: 700;
}
 
.events-text43 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text46 {
  font-weight: 700;
}
 
.events-text48 {
  font-style: normal;
  font-weight: 300;
}
 
.events-text49 {
  display: inline-block;
}
 
.events-text50 {
  display: inline-block;
}
 
.events-text51 {
  display: inline-block;
}
 
.events-text52 {
  display: inline-block;
}
 
.events-text53 {
  display: inline-block;
}
 
.events-text54 {
  display: inline-block;
}
 
.events-text55 {
  display: inline-block;
}
 
.events-text56 {
  display: inline-block;
}
 
.events-text57 {
  display: inline-block;
}
 
.events-text58 {
  display: inline-block;
}
 
.events-text59 {
  display: inline-block;
}
 
.events-text60 {
  display: inline-block;
}
 
.events-text61 {
  display: inline-block;
}
 
.events-text62 {
  display: inline-block;
}
 
.events-text63 {
  display: inline-block;
}
 
.events-text64 {
  display: inline-block;
}
 
.events-text65 {
  display: inline-block;
}
 
.events-text66 {
  display: inline-block;
}
 
.events-text67 {
  display: inline-block;
}
 
.events-text68 {
  display: inline-block;
}
 
.events-text69 {
  display: inline-block;
}
 
.events-text70 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .events-thq-body-elm {
    padding-top: var(--dl-layout-space-fiveunits);
    padding-left: var(--dl-layout-space-fiveunits);
    padding-right: var(--dl-layout-space-fiveunits);
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .events-text26 {
    font-size: 50px;
  }
}
 
@media(max-width: 1200px) {
  .events-thq-body-elm {
    padding: var(--dl-layout-space-fourunits);
  }
  .events-text26 {
    font-size: 40px;
  }
}
 
@media(max-width: 991px) {
  .events-thq-hero-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .events-thq-hero-content-elm {
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .events-thq-body-elm {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .events-thq-heading-elm {
    font-size: 60px;
  }
  .events-thq-body-elm {
    padding: var(--dl-layout-space-threeunits);
  }
  .events-text26 {
    font-size: 25px;
  }
}
 
@media(max-width: 479px) {
  .events-thq-hero-content-elm {
    gap: var(--dl-layout-space-threeunits);
  }
  .events-thq-heading-elm {
    font-size: 36px;
  }
  .events-thq-caption-elm {
    font-size: 16px;
    line-height: 24px;
  }
  .events-navlink {
    text-align: center;
  }
  .events-thq-body-elm {
    padding: var(--dl-layout-space-twounits);
  }
}
