.get-involved-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.get-involved-thq-hero-elm {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.get-involved-text10 {
  display: inline-block;
}
 
.get-involved-text11 {
  display: inline-block;
}
 
.get-involved-text12 {
  display: inline-block;
}
 
.get-involved-text13 {
  display: inline-block;
}
 
.get-involved-text14 {
  display: inline-block;
}
 
.get-involved-text15 {
  display: inline-block;
}
 
.get-involved-text16 {
  display: inline-block;
}
 
.get-involved-text17 {
  display: inline-block;
}
 
.get-involved-text18 {
  display: inline-block;
}
 
.get-involved-text19 {
  display: inline-block;
}
 
.get-involved-text20 {
  display: inline-block;
}
 
.get-involved-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.get-involved-thq-hero-content-elm {
  gap: var(--dl-layout-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.get-involved-thq-header-container-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.get-involved-thq-header-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.get-involved-thq-heading-elm {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
 
.get-involved-thq-caption-elm {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
 
.get-involved-navlink {
  text-decoration: none;
}
 
.get-involved-thq-body-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.get-involved-container2 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.get-involved-container3 {
  display: contents;
}
 
.get-involved-text24 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 50px;
  max-width: var(--dl-layout-size-maxwidth);
}
 
.get-involved-text25 {
  font-weight: 700;
}
 
.get-involved-text27 {
  font-style: normal;
  font-weight: 300;
}
 
.get-involved-text30 {
  font-weight: 700;
}
 
.get-involved-text32 {
  font-style: normal;
  font-weight: 300;
}
 
.get-involved-text33 {
  display: inline-block;
}
 
.get-involved-text34 {
  display: inline-block;
}
 
.get-involved-text35 {
  display: inline-block;
}
 
.get-involved-text36 {
  display: inline-block;
}
 
.get-involved-text37 {
  display: inline-block;
}
 
.get-involved-text38 {
  display: inline-block;
}
 
.get-involved-text39 {
  display: inline-block;
}
 
.get-involved-text40 {
  display: inline-block;
}
 
.get-involved-text41 {
  display: inline-block;
}
 
.get-involved-text42 {
  display: inline-block;
}
 
.get-involved-text43 {
  display: inline-block;
}
 
.get-involved-text44 {
  display: inline-block;
}
 
.get-involved-text45 {
  display: inline-block;
}
 
.get-involved-text46 {
  display: inline-block;
}
 
.get-involved-text47 {
  display: inline-block;
}
 
.get-involved-text48 {
  display: inline-block;
}
 
.get-involved-text49 {
  display: inline-block;
}
 
.get-involved-text50 {
  display: inline-block;
}
 
.get-involved-text51 {
  display: inline-block;
}
 
.get-involved-text52 {
  display: inline-block;
}
 
.get-involved-text53 {
  display: inline-block;
}
 
.get-involved-text54 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .get-involved-thq-body-elm {
    padding-top: var(--dl-layout-space-fiveunits);
    padding-left: var(--dl-layout-space-fiveunits);
    padding-right: var(--dl-layout-space-fiveunits);
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .get-involved-text24 {
    font-size: 50px;
  }
}
 
@media(max-width: 1200px) {
  .get-involved-thq-body-elm {
    padding: var(--dl-layout-space-fourunits);
  }
  .get-involved-text24 {
    font-size: 40px;
  }
}
 
@media(max-width: 991px) {
  .get-involved-thq-hero-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .get-involved-thq-hero-content-elm {
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .get-involved-thq-body-elm {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .get-involved-thq-heading-elm {
    font-size: 60px;
  }
  .get-involved-thq-body-elm {
    padding: var(--dl-layout-space-threeunits);
  }
  .get-involved-text24 {
    font-size: 25px;
  }
}
 
@media(max-width: 479px) {
  .get-involved-thq-hero-content-elm {
    gap: var(--dl-layout-space-threeunits);
  }
  .get-involved-thq-heading-elm {
    font-size: 36px;
  }
  .get-involved-thq-caption-elm {
    font-size: 16px;
    line-height: 24px;
  }
  .get-involved-navlink {
    text-align: center;
  }
  .get-involved-thq-body-elm {
    padding: var(--dl-layout-space-twounits);
  }
}
