.page-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.page-thq-faq-elm {
  width: 100%;
}
 
.page-container2 {
  display: none;
}
 
.page-container3 {
  display: contents;
}
 
@media(max-width: 767px) {
  .page-thq-faq-container-elm {
    display: flex;
    flex-direction: column;
  }
  .page-thq-faq-grid-elm {
    display: flex;
    flex-direction: column;
  }
}
