.news1-thq-news-elm {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  background-color: #f4f6f9;
}
 
.news1-thq-previous-elm {
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
 
.news1-thq-controls-elm {
  display: none;
}
 
.news1-thq-next-elm {
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
 
@media(max-width: 991px) {
  .news1-thq-previous-elm {
    display: none;
  }
  .news1-thq-current-elm {
    height: 350px;
    align-items: center;
    justify-content: flex-end;
  }
  .news1-thq-controls-elm {
    gap: var(--dl-layout-space-halfunit);
    display: flex;
    padding-bottom: var(--dl-layout-space-unit);
  }
  .news1-thq-next-elm {
    display: none;
  }
}
